<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Form</title>
    <link rel="stylesheet" type="text/css" href="stile.css">
</head>
<body>
<h1>Account Form</h1>
<form id="accountForm" action="http://localhost:8080/accounts/create" method="post" enctype="application/json">
    <label>
        <input type="text" name="accountName" placeholder="Account Name">
    </label>
    <label>
        <input type="number" name="accountBalance" placeholder="Account Balance">
    </label>
    <label for="accountStatus">Select account status:</label>
    <select id="accountStatus" name="accountStatus">
        <option value="ACTIVE">Active</option>
        <option value="INACTIVE">Inactive</option>
        <option value="CLOSED">Closed</option>
        <option value="FROZEN">Frozen</option>
        <option value="ZERO_BALANCE">Zero balance</option>
        <option value="SEIZED">Seized</option>
        <option value="SUSPENDED">Suspended</option>
        <option value="UNDER_INVESTIGATE">Under investigate</option>
    </select>
    <label for="currencyCode"> Select currency code</label>
    <select id="currencyCode" name="currencyCode">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="CNY">CNY</option>
        <option value="JPY">JPY</option>
        <option value="GBP">GBP</option>
        <option value="INR">INR</option>
        <option value="BRL">BRL</option>
    </select>
    <label for="accountType">Select account type</label>
    <select id="accountType" name="accountType">
        <option value="CHECKING_ACCOUNT">Current account</option>
        <option value="CERTIFICATE_OF_DEPOSIT">Deposit</option>
        <option value="CREDIT_CARD">Credit card</option>
        <option value="DEBIT_CARD">Debit card</option>
    </select>
    <button type="button" id="submitBtn">Submit</button>
</form>

<script>
    document.getElementById("submitBtn").addEventListener("click", function () {
        var accountData = {
            accountName: document.querySelector("input[name='accountName']").value,
            accountBalance: parseFloat(document.querySelector("input[name='accountBalance']").value),
            accountStatus: document.querySelector("select[name='accountStatus']").value,
            currencyCode: document.querySelector("select[name='currencyCode']").value,
            accountType: document.querySelector("select[name='accountType']").value
        };

        // Отправка данных в формате JSON
        fetch("http://localhost:8080/accounts/create", {
            method: "POST",
            body: JSON.stringify(accountData),
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });
</script>
</body>
</html>
-->
