/* Общие стили для формы и элементов формы */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label, select, input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Дополнительные стили для заголовка */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стили для меток (labels) */
label {
    font-weight: bold;
}

/* Стили для списка select */
select {
    height: 34px;
}

/* Стили для элементов select */
select, input[type="text"], input[type="number"] {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
}

/* Стили для внутренних меток (labels) */
label[for="accountStatus"], label[for="currencyCode"], label[for="accountType"] {
    font-weight: normal;
    margin-top: 10px;
}

/* Дополнительные стили для элемента select с именем "accountStatus" */
select#accountStatus {
    width: 100%;
}

/* Дополнительные стили для элемента select с именем "currencyCode" */
select#currencyCode {
    width: 100%;
}

/* Дополнительные стили для элемента select с именем "accountType" */
select#accountType {
    width: 100%;
}
